# PyTorch для CUDA 12.8 (удаляем конкретные версии, они уже установлены в Dockerfile)
# torch
# torchvision
# torchaudio

numpy==2.1.1
scipy==1.15.3
opencv-python==4.13.0.92
matplotlib==3.10.8
mmcv==2.1.0
mmengine
mmaction2
openmim
decord
einops
tqdm
pandas==2.3.3
pyyaml==6.0.3